<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <title>訂房!!</title>
    <style type="text/css">
        #ui-datepicker-div a{
            text-decoration: none;
            padding: 4px;
        }
        #ui-datepicker-div{
            font-family: monospace;
        }
        .ui-icon.ui-icon-circle-triangle-e{ color: #c0c0c0; }
        .ui-icon.ui-icon-circle-triangle-w{ color: #c0c0c0; }
    </style>
</head>
<body>
	<form action="/query_room/" method="get">
	    <input type="text" id="datepicker1" name="from" placeholder="從幾月幾號" value={{from_date}}>
	    <input type="text" id="datepicker2" name="to" placeholder="到幾月幾號" value={{to_date}}>
	    <input type="submit" value="查詢空房">
	</form>
    {% for histogram_unit in histogram %}
    <table>
        <tr>
            <th>{{histogram_unit.room_type_name}}</th>
        </tr>
        {% for year, booking_dict in histogram_unit.histogram.items %}
        <tr>
            <td>{{year}} 年</td>
        </tr>
        {% for month, booking in booking_dict.items %}
        <tr>
            <td>{{month}} 月</td>
        </tr>
        <tr>
            <td>
                <table border="1">
                    <tr>
                        <td>
                            日
                        </td>
                        {% for day, booking_num in booking.items %}
                        <td width="16">
                            {{day}}
                        </td>
                        {% empty %}
                        <tr><td>日期設定有問題，請檢查日期是否正確</td></tr>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            空房數
                        </td>
                        {% for day, booking_num in booking.items %}
                        <td>
                            {{booking_num}}
                        </td>
                        {% empty %}
                        <tr><td>日期設定有問題，請檢查日期是否正確</td></tr>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
        {% empty %}
        <tr><td>日期設定有問題，請檢查日期是否正確, 或者查詢天數超過 {{histogram_unit.limit_days}} 天</td></tr>
        {% endfor %}
        {% empty %}
        <tr><td>日期設定有問題，請檢查日期是否正確, 或者查詢天數超過 {{histogram_unit.limit_days}} 天</td></tr>
        {% endfor %}
    </table>
    {% empty %}
    <h1>尚未設定任何房型</h1>
    {% endfor %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <script src="{% static 'laid_back_habitat/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'laid_back_habitat/calTotalDays.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $("#datepicker1").datepicker({dateFormat:"yy-mm-dd",showMonthAfterYear:true});
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#datepicker2").datepicker({dateFormat:"yy-mm-dd",showMonthAfterYear:true});
        });
    </script>
</body>
</html>