<!DOCTYPE html>
<html>
<head>
	<title>訂房!!</title>
    <style type="text/css">
        #ui-datepicker-div a{
            text-decoration: none;
            padding: 4px;
        }
        #ui-datepicker-div{
            font-family: monospace;
        }
        .ui-icon.ui-icon-circle-triangle-e{ color: #c0c0c0; }
        .ui-icon.ui-icon-circle-triangle-w{ color: #c0c0c0; }
    </style>
</head>
<body>
<form action="" method="post">
    {{ booking_room_form.as_ul }}
    <input type="text" id="datepicker1" name="from" placeholder="從幾月幾號">
    <input type="text" id="datepicker2" name="to" placeholder="到幾月幾號">
    {% if room_type_list %}
    <select>
    	{% for room_type in room_type_list %}
    	<option value="{{room_type.id}}">{{room_type.rt_name}}</option>
    	{% endfor %}
    </select>
    {% endif %}
    <button onclick="orderRoom()">加</button>

</form>
{% load staticfiles %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{% static 'laid_back_habitat/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $("#datepicker1").datepicker({dateFormat:"yy-mm-dd",showMonthAfterYear:true}); 
    });
</script>
<script type="text/javascript">
    $(function() {
        $("#datepicker2").datepicker({dateFormat:"yy-mm-dd",showMonthAfterYear:true}); 
    });
</script>
</body>
</html>
