<!DOCTYPE html>
<html>
<head>
    <title>{{curr_date}}</title>
    <meta charset='utf-8'>
</head>
<body>
    {% for histogram_unit in histogram %}
    <table>
        <tr>
            <th>{{histogram_unit.room_type_name}}</th>
        </tr>
        {% for month, booking_day in histogram_unit.histogram.items %}
        <tr>
            <td>{{month}} 月份</td>
        </tr>
        <tr>
            <td>
                <table border="1">
                	<tr>
			        	{% for day, booking_num in booking_day.items %}
	                	<td>
	                		{{day}}
	                	</td>
	                	{% endfor %}
                	</tr>
                	<tr>
			        	{% for day, booking_num in booking_day.items %}
	                	<td>
	                		{{booking_num}}
	                	</td>
	                	{% endfor %}
                	</tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>
